/*Default*/
*{
  margin: 0;
  padding: 0;
}
html{
  background-color: #ffff;
  color: #555;
  font-weight: 300;
  font-size: 20px;
  text-rendering: optimizeLegibility; /*Improves readability of font*/
}

/*Reusable components*/
.row{
  max-width: 1140px;
  margin: 0 auto;
}

h1,
h2,
h3{

  font-weight: 300;
  text-transform: uppercase;
}

h1{
  margin-top: 0;
  margin-bottom: 20px;
  color: white;
  font-size: 500%;
  word-spacing: 4px;
  letter-spacing: 1px;
}
h3,h4{
  color: white;
}
p{
  color: white;
}

/*Header*/
html{
    /*add linear gradient for transperancy on top of image, black rgba color,.7 percent*/
    background-image: linear-gradient(rgba(0, 0, 0, 0.7),rgba(0, 0, 0, 0.7)), url(../img/background.jpg);
    background-size: cover;/*cover the whole section*/
    background-position: center;
    height: 100vh;
    /* Create the parallax scrolling effect */
    background-attachment: fixed;
    background-repeat: no-repeat;

  }

  .headerImage-text-box{
  padding-left: 200px;
  position: absolute;
  width: 1140px;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50% );
}

.recipeForm input{
  width: 80%;

}
.modal-title{
  color:white;
}
.modal-content{
  background-color: grey;
}
