/*Default*/
*{
  margin: 0;
  padding: 0;
}
html{
  background-color: #ffff;
  color: #555;
  font-weight: 300;
  font-size: 20px;
  text-rendering: optimizeLegibility; /*Improves readability of font*/
}

/*Reusable components*/
.row{
  max-width: 1140px;
  margin: 0 auto;
}
.modal{
  backdrop: false;
}
.main-close,.main-delete{
  color:red;
  font-family: 'Crimson Text', serif;
}
h1,
h2,
h3,h4{

  font-weight: 300;

  color:#57606f;
  font-family: 'Crimson Text', serif;
}

h1{
  margin-top: 0;
  margin-bottom: 20px;
  color: #dfe4ea;
  font-size: 500%;
  word-spacing: 4px;
  letter-spacing: 1px;
}
h3,h4{
  color: #dfe4ea;
}
p{
  color: #dfe4ea;
}

/*Header*/
html{
    /*add linear gradient for transperancy on top of image, black rgba color,.7 percent*/
    background-image: linear-gradient(rgba(0, 0, 0, 0.7),rgba(0, 0, 0, 0.7)), url(../img/background.jpg);
    background-size: cover;/*cover the whole section*/
    background-position: center;
    height: 100vh;
    /* Create the parallax scrolling effect */
    background-attachment: fixed;
    background-repeat: no-repeat;

  }


  .alert-container{
    padding-right: 200px;
  }
  .main{
    font-family: 'Crimson Text', serif;
    color: #f1f2f6;
  }
  .headerImage-text-box{

  padding-left: 200px;
  position: absolute;
  width: 1140px;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50% );
}

.recipeForm input{
  width: 80%;

}
.modal-title{
  color:white;
}
.modal-content{
  background-color: grey;
}





.custab{
    border: 1px solid #ccc;
    padding: 5px;
    margin: 5% 0;
    box-shadow: 3px 3px 2px black;
    transition: 0.5s;
    color:black;
    }
.custab:hover{
    box-shadow: 3px 3px 0px transparent;
    transition: 0.5s;
    }
